[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
ipykernel = "*"
pandas = "*"
seaborn = "*"
nltk = "*"
scikit-learn = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.9"
